.box {
  width: 200px;
  height: 200px;
  background-color: red;
}

.box .div1 {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.box .div2 {
  width: 100px;
  height: 50px;
  background-color: black;
}
